// Mixins
@mixin reset-input {
    box-sizing: content-box;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: initial;
    font-size: medium;
    font-weight: normal;
    background-color: transparent;
    color: inherit;
    text-align: left;
    box-shadow: none;
    outline: none;
  }
  @mixin font-style {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight-regular;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    text-align: $text-align-left;
  }
  
  @mixin card-style {
    background-color: white;
    border-radius: $border-radius-card;
  }
  
  @mixin gradient-button {
    background: linear-gradient(193deg, $gradient-start -11.44%, $gradient-end 123.93%);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px 0px;
  }