.restaurants-card {
    @include card-style;
  }

  .restaurants-card-name {
    @include font-style;
    font-weight: $font-weight-bold;
    line-height: 21px;
  }
  
  .restaurants-card-location {
    @include font-style;
    font-weight: 300;
    line-height: 20px;
  }

  .restaurants-cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 18px;
    padding-bottom: 78px;
  }

  .restaurants-card-content {
    display: flex;
    justify-content: space-between;
  }
  
  .restaurants-card-txt {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
  }
  
  .restaurants-card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .restaurants-card img {
    border-radius: $border-radius-card $border-radius-card 0px 0px;
    object-fit: cover;
    max-height: 175px;
    width: 100%;
  }
  
  .restaurants-card-content {
    padding-top: 16px;
    padding-left: 3.82%;
    padding-bottom: 12px;
    height: 30.3%;
  }

  