// _button.scss

.button {
    @include transition(color);
    cursor: pointer;
  }
  
  .button-primary {
    @include gradient-background($color-primary, rgb(255, 121, 218));
    color: white;
  }
  
  .button:hover {
    opacity: 0.85;
    @include box-shadow(rgba(0, 0, 0, 0.25) 0px 7px 16px 0px);
  }
  
  