// _mixins.scss

@mixin transition($property, $duration: $transition-duration, $timing: $transition-timing, $delay: $transition-delay) {
    transition: #{$property} #{$duration} #{$timing} #{$delay};
  }
  
  @mixin gradient-background($color1, $color2, $angle: 193deg) {
    background: linear-gradient($angle, $color1 -11.44%, $color2 123.93%);
  }
  
  @mixin box-shadow($values) {
    box-shadow: $values;
  }
  
  