$primary-color: #ff7ad9;
$secondary-color: #9256dc;
$tertiary-color: #99E2D0;
$base-font-family: "Roboto", sans-serif;
$heading-font-family: "Shrikhand", sans-serif;
$loader-bg-color: rgba(255, 255, 255, 0.9);