// _search.scss

.recherche {
    height: 287px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .recherche-wrapper {
    height: 287px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 39px;
  }
  
  .recherche-head {
    margin-left: 11.2%;
    height: 68px;
    display: flex;
    margin-right: 15.47%;
    text-align: center;
    justify-content: center;
  }
  
  .recherche-discover {
    height: 46px;
    margin-left: 9.07%;
    margin-right: 6.93%;
    display: flex;
    justify-content: center;
  
  }
  