// Search Styles
.search-heading,
.search-discover {
  font-family: Roboto;
}

.search-heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.search-discover {
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;

  h2 {
    font-weight: 300;
  }
}

.search {
  background-color: rgb(246, 246, 246);
}

.fonctionnement-title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.number-icon {
  width: 24px;
  height: 24px;
  background-color: rgb(147, 86, 220);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


.fonctionnement-options-row {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background: $background-color-light;
}

.fonctionnement-options-row h2 {
  @include font-style;
  margin-left: 10px;
}

.restaurants-title {
  @include font-style;
  font-weight: $font-weight-bold;
  line-height: 28px;
}



figcaption {
  @include font-style;
  font-weight: $font-weight-regular;
  line-height: 16px;
  text-align: center;
}

.heart {
  font-size: 22px;
}


.search {
  height: 287px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-wrapper {
  height: 287px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 39px;
}

.search-heading {
  margin-left: 11.2%;
  height: 68px;
  display: flex;
  margin-right: 15.47%;
  text-align: center;
  justify-content: center;
}

.search-discover {
  height: 46px;
  margin-left: 9.07%;
  margin-right: 6.93%;
  display: flex;
  justify-content: center;
}

.search-button {
  margin-top: 27px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-left: 21.87%;
  margin-right: 20%;
}

.search-button a {
  @include gradient-button;
  @include font-style;
  border-radius: 25px;
  border: none;
  padding: 18.75px 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  transition: all 0.2s ease 0s;
  cursor: pointer;

  &:hover {
    opacity: 0.85;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 16px 0px;
  }
}

.fonctionnement {
  width: 100%;
  background-color: white;
}

.fonctionnement-wrapper {
  max-width: 1440px;
  margin: 0px auto;
  padding: 40px 0px 40px 0px;
}

.fonctionnement-title {
  margin-bottom: 26px;
}

.fonctionnement-options {
  display: flex;
  flex-direction: column;
  row-gap: 24.93px;
  padding-left: 12.51px;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: #f2eafb;
    transition: background-color 300ms ease-in-out;
  }
}

.fonctionnement-options-row {
  display: flex;
  height: 72.38px;
  align-items: center;
  width: 100%;
}

.number-icon {
  position: relative;
  right: 12.51px;
}

.restaurants {
  padding-left: 17px;
  padding-right: 18px;
  background-color: $background-color-light;
}

.restaurants .heart {
  margin-top: 7px;
  margin-right: 25px;
  flex-shrink: 0;
}


.restaurants-title {
  padding-top: 54px;
  padding-left: 3px;
  margin-bottom: 25px;
}



figcaption {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgb(153, 226, 208);
  color: $text-color-dark;
  width: 80px;
  height: 29px;
  align-items: center;
  justify-content: center;
}



.arrow {
  width: 17.2px;
  height: 16px;
  font-size: 20px;
  color: $text-color-dark;
}

 
  .image-container {
    width: 100%;
    position: relative;
    padding-bottom: 73.3353%;
    overflow: hidden;
  }
  
  .image-container img {
    position: absolute;
    width: 100%;
    height: 700px;
    object-fit: cover;
  }
  
  .page-main-wrapper {
    height: 1182px;
    width: 1189px;
    background-color: rgb(246, 246, 246);
    border-radius: 45px 45px 0px 0px;
    padding-top: 32px;
    position: relative;
    top: -725px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  
  .main-title {
    margin: 0px 17px;
    display: flex;
    justify-content: space-between;
  }
  
  .menu-restaurant {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  
  .page-main-title {
    font-family: Shrikhand;
    font-size: 14px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px 17px 42px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: rgb(16, 16, 16);
  }
  
  .favorite-restaurants {
    margin-right: 7.03%;
  }
  
  .unfilled-heart {
    cursor: pointer;
  }
  
  input[type="checkbox"]:not(:checked) ~ .favorite-restaurants .unfilled-heart {
    display: block;
  }
  
  input[type="checkbox"]:not(:checked) ~ .favorite-restaurants .filled-heart {
    display: none;
  }
  
  input[type="checkbox"]:checked ~ .favorite-restaurants .unfilled-heart {
    display: none;
  }
  
  input[type="checkbox"]:checked ~ .favorite-restaurants .filled-heart {
    display: block;
  }
  
  .menu-section {
    display: flex;
    flex-direction: column;
    margin: 0px 13px 40px;
    row-gap: 12px;
  }
  
  .menu-title {
    text-transform: uppercase;
    height: 27px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
  
    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 10.67%;
      border-bottom: 3px solid rgb(153, 226, 208);
    }
  }
  
  .menu-restaurant-item {
    @include card-style;
    height: 72px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    white-space: nowrap;
    width: 100%;
  }
  
  .menu-restaurant-item-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  
  .menu-restaurant-item-price {
    display: flex;
    align-items: flex-end;
    z-index: 40;
    height: 100%;
    padding: 0px 13.5px 13.5px 0px;
  }
  
  .menu-restaurant-item-txt label {
    height: 100%;
  }
  
  .menu-labels {
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
  
  .menu-restaurant-item-txt {
    padding: 0px 0px 0px 13.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .menu-restaurant-item-txt h2 {
    padding-top: 15px;
    @include font-style;
    font-weight: 500;
    line-height: 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .menu-restaurant-item-txt p {
    @include font-style;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 15px;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked ~ .menu-restaurant-item .menu-restaurant-item-selected {
    width: 68px;
    right: 0px;
  }
  
  .menu-restaurant-item-selected {
    position: relative;
    height: 100%;
    width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(153, 226, 208);
    border-radius: 0px 20% 20% 0px;
    transition: all 0.56s ease 0s;
  
    svg {
      height: 25px;
    }
  }
  
  .menu-restaurant-item:nth-child(3) {
    box-shadow: none;
  }

  
  .order-button {
    @include gradient-button;
    width: 186px;
    height: 50px;
    align-items: center;
    border-radius: 25px;
    border: none;
    padding: 18.75px 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    transition: all 0.2s ease 0s;
    cursor: pointer;
  
    &:hover {
      opacity: 0.85;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 16px 0px;
    }
  }
  
  .order-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .page-footer {
    top: -16px;
    height: 186px;
    padding: 22px 25px;
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 900px) {
    body {
      max-width: 1920px;
      margin: 0px auto;
    }
  
    .search {
      height: 239px;
      display: grid;
      place-items: center;
    }
  
    .search-wrapper {
      width: 645px;
      height: 179px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0px;
    }
  
    .search-heading {
      height: 47px;
      @include font-style;
      font-size: 26.5px;
      font-weight: 700;
      line-height: 45px;
      letter-spacing: 0em;
      white-space: nowrap;
      transform: translateX(12px);
    }
  
    .search-discover {
      height: 46px;
      align-items: center;
    }
  
    .search-button {
      margin-top: 0px;
    }
  
    .fonctionnement-options {
      flex-direction: row;
      column-gap: 36px;
    }
  
    .fonctionnement-options-row {
      /* width: 335px; */
      max-height: 72.38px;
    }
  
    .restaurants {
      max-width: 1440px;
      margin: 0px auto;
    }
  
    .restaurants-title {
      padding-top: 24px;
      margin-bottom: 21px;
    }
  
    .restaurants-cards {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 50px 100px;
      padding-bottom: 30px;
    }
  
    .restaurants-card {
      height: 251px;
    }
  
    .main-footer {
      flex-direction: row-reverse;
      width: 100%;
      padding: 0px;
    }
  
    .footer-nav {
      height: 100%;
    }
  
    nav {
      display: flex;
      flex-direction: row;
      height: 20px;
      width: 661px;
      column-gap: 7px;
      @include font-style;
      margin-top: 0px;
      padding-top: 48px;
      margin-right: 44px;
    }
  
    .footer-logo {
      padding-top: 57px;
      width: 215px;
    }
  }